body {
        font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
        font-size: 100%;
      }

#wrap{
	 width: 400px;
	 max-width: 550px;
     overflow: hidden;
}
#title { 
	text-align: center;	
}
#tokendata{
	text-overflow:
	font-weight: 900; 
}
.data{
	text-align: center;
	background-color: #1976d2;
	color: #FFF;
}
.refreshtoken{
	text-align: center;
}
#refreshtokenbutton:enabled{
	background-color: #63a4ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#refreshtokenbutton:disabled{
	background-color: #e3f2fd;
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}