body {
        font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
        font-size: 100%;
      }

#wrap{
	 width: 400px;
	 max-width: 550px;
     overflow: hidden;
}
#title { 
	text-align: center;	
}
#tokendata{
	text-overflow:
	font-weight: 900; 
}
.data{
	text-align: center;
	background-color: #1976d2;
	color: #FFF;
}